/* Style sheet created by SabWaFei */

/* 
    Start default-styles 
*/

/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* colors */
  /* primary colors */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* netrual colors */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  /* typography */
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  background-color: var(--Light-gray);
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 1440px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}
/* 
    End default-styles 
*/

/* 
    post styling
    styles the main post including profile pic, name title, description and flavor-text 
*/
.post {
  margin: 15px;
  /* temp sizing */
  width: 500px;
  border-radius: 5px;
  padding: 25px;
}
.post-profile-pic {
  border-radius: 30px;
  border: solid white 1px;
}
.post-flavor-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-weight-bolder);
}
.post-description {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-weight-bold);
}
.post-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.post-signature {
  margin: 5px;
  padding-top: 10px;
}
.post-profile-pic {
  margin: 5px;
}
.post-name {
  font-weight: var(--font-weight-bolder);
}
#one {
  background-color: var(--Moderate-violet);
  color: var(--white);
}
#two {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--white);
}
#three {
  background-color: var(--white);
  color: var(--Very-dark-blackish-blue);
}
#four {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--white);
}
#five {
  background-color: var(--white);
  color: var(--Very-dark-blackish-blue);
}

/* 
    End post styling 
*/
